# build output
dist/
k3m-2026-prod.zip
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test and audit artifacts
playwright-report/
test-results/
reports/
/data/


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
